body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: gray;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* img {
  height: 200px;
  width: 200px;
} */
.cardsBox {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;

  position: relative;
}

.card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

/* .btnDiv {
  padding-top: -30px;
} */

.front {
  max-width: 150px;
  /* object-fit: contain; */
  /*  */
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.card.flip {
  transform: rotateY(180deg); /*rotation effect*/
  transition: all ease-in 0.25s; /*the change of css will be animated smoothly within 0.25 secs*/
  /*blend mode will multiply colors of both images*/
  /* mix-blend-mode: multiply; */
}
.card.flip .front {
  z-index: 0;
}
.back {
  max-width: 150px;
}
